@model Sistema_Cinema.Models.Sessao

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Sessao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoBase" class="control-label"></label>
                <input asp-for="PrecoBase" class="form-control" />
                <span asp-validation-for="PrecoBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFilme" class="control-label"></label>
                <select asp-for="IdFilme" class ="form-control" asp-items="ViewBag.IdFilme"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdSala" class="control-label"></label>
                <select asp-for="IdSala" class ="form-control" asp-items="ViewBag.IdSala"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

